@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
$primary-color:#15125C;
$secondary-color:#2f2e5c;
$accent1:#7471e1;
$accent2:#2622a8;
$font-family2:'Bad Script',
cursive;
.app-name {
    font-family: $font-family2;
    font-size: 3rem;
}