$primary-color:#15125C;
$secondary-color:#2f2e5c;
$accent1:#7471e1;
$accent2:#2622a8;
.recipe-search {
    width: 20rem;
}

.recipe-search-btn {
    display: none;
}

.ingredients-input {
    background-image: url('https://cdn-icons-png.flaticon.com/512/2089/2089805.png');
    background-repeat: no-repeat;
    border: none;
    border-bottom: 1px solid #121112;
    cursor: pointer;
    padding-left: 2.5rem;
    padding-right: 1rem;
    background-size: 1.5rem 1.5rem;
    position: relative;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    width: 20rem;
    background-position: 5px center;
    height: 3rem;
    font-size: 1.2rem;
}

.ingredients-input:focus {
    width: 20rem;
    background-color: #ffffff;
    border-bottom: 1px solid $accent2;
    outline: none;
    color: $primary-color;
    box-shadow: 0 0.3rem 1rem $accent1;
}