@import url("https://fonts.googleapis.com/css?family=Roboto");
$primary-color:#15125C;
$secondary-color:#2f2e5c;
$accent1:#7471e1;
$accent2:#2622a8;
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.card {
    position: relative;
    background: #fff;
    width: 14.75rem;
    margin: 1.25rem auto;
    box-shadow: 0px 0px 20px 1px $accent1;
}

.card-img {
    background-size: cover;
    transition: all 0.3s ease-in-out;
    height: 10rem;
}

.card-img:hover {
    transform: scale(1.08);
}

.heart {
    fill: $accent2;
}

.card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5rem;
}

.time,
.serves {
    display: flex;
    align-items: center;
}

.accent-text {
    color: $accent1;
    margin-left: 0.3rem;
    margin-right: 0.2rem;
    font-weight: bold;
}

.food-name {
    color: #212129;
    font-weight: bold;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    width: 7.5rem;
    background-color: $accent1;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    font-weight: normal;
    font-size: 0.8rem;
    padding: 0.3rem;
    text-align: center;
}

.food-name:hover .tooltip {
    visibility: visible;
}

.block-row-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.5rem;
}

.card-btn {
    display: block;
    background: $primary-color;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 10px;
    transition: 250ms;
}

.card-btn:hover {
    background: $secondary-color;
    transition: 250ms;
}